<section id="{{_id}}">
  <section class="toolbar">
    <button class="btn btn-primary edit" id="{{_id}}"></button>
  </section>
    <table data-details id="{{_id}}" class="table">
    </table>
</section>
