<form id="{{id}}" data-payment-form-id="{{_id}}" class="form-horizontal">
  <input type="hidden" name="id" value="{{id}}" />
  <input type="hidden" name="type" value="{{type}}" />
  <div class="form-group">
    <input class="form-control" type="text" name="amount" value="{{amount}}" />
  </div>
</form>
