@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css');

.pointer {
  cursor: pointer;
}

tr {
  td {
    &.details-ctrl {
      background: url('../media/info.png') no-repeat center center;
      @extend .pointer;
    }
  }
  &.opened {
    td.details-ctrl {
      background: url('../media/close.png') no-repeat center center;
    }
  }
}
.toolbar {
  width: 100%;
  text-align: right;
  & .edit {
    margin-bottom: 15px;
    @extend .pointer;
  }
}

